src/channel/Service References/WcfCollector/OpenTAX_Collector_V10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/Imports">
      <xsd:import schemaLocation="http://192.168.219.154:8462/OpenTAX_Collector_V10?xsd=xsd0" namespace="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07" />
      <xsd:import schemaLocation="http://192.168.219.154:8462/OpenTAX_Collector_V10?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.219.154:8462/OpenTAX_Collector_V10?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICollectorService_WriteLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="ICollectorService_WriteLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectorService_DoExcelUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:DoExcelUpload" />
  </wsdl:message>
  <wsdl:message name="ICollectorService_DoExcelUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoExcelUploadResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectorService_GetIssueId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssueId" />
  </wsdl:message>
  <wsdl:message name="ICollectorService_GetIssueId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssueIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICollectorService_GetCfgValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCfgValue" />
  </wsdl:message>
  <wsdl:message name="ICollectorService_GetCfgValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCfgValueResponse" />
  </wsdl:message>
  <wsdl:portType name="ICollectorService">
    <wsdl:operation name="WriteLog">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/WriteLog" message="tns:ICollectorService_WriteLog_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/WriteLogResponse" message="tns:ICollectorService_WriteLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoExcelUpload">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/DoExcelUpload" message="tns:ICollectorService_DoExcelUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/DoExcelUploadResponse" message="tns:ICollectorService_DoExcelUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueId">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/GetIssueId" message="tns:ICollectorService_GetIssueId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/GetIssueIdResponse" message="tns:ICollectorService_GetIssueId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCfgValue">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/GetCfgValue" message="tns:ICollectorService_GetCfgValue_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/collector/2016/07/ICollectorService/GetCfgValueResponse" message="tns:ICollectorService_GetCfgValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>