src/channel/Service References/WcfReporter/OpenTAX_Reporter_V101.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07" elementFormDefault="qualified" targetNamespace="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.219.154:8473/OpenTAX_Reporter_V10?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.219.154:8473/OpenTAX_Reporter_V10?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WriteLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="p_certapp" type="q1:guid" />
        <xs:element minOccurs="0" name="p_exception" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportWithDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="p_certapp" type="q2:guid" />
        <xs:element minOccurs="0" name="p_invoicerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_fromDay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="p_tillDay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportWithDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportWithDateRangeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportWithIssueIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="p_certapp" type="q3:guid" />
        <xs:element minOccurs="0" name="p_invoicerId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p_issueIds" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportWithIssueIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportWithIssueIDsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="p_certapp" type="q5:guid" />
        <xs:element minOccurs="0" name="p_submitId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearXFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="p_certapp" type="q6:guid" />
        <xs:element minOccurs="0" name="p_invoicerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearXFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearXFlagResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>