src/channel/Service References/WcfReporter/OpenTAX_Reporter_V10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/Imports">
      <xsd:import schemaLocation="http://192.168.219.154:8473/OpenTAX_Reporter_V10?xsd=xsd0" namespace="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07" />
      <xsd:import schemaLocation="http://192.168.219.154:8473/OpenTAX_Reporter_V10?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.219.154:8473/OpenTAX_Reporter_V10?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_WriteLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="IReportService_WriteLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportWithDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportWithDateRange" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportWithDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportWithDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportWithIssueIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportWithIssueIDs" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportWithIssueIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportWithIssueIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_RequestResult_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestResult" />
  </wsdl:message>
  <wsdl:message name="IReportService_RequestResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestResultResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ClearXFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearXFlag" />
  </wsdl:message>
  <wsdl:message name="IReportService_ClearXFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearXFlagResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="WriteLog">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/WriteLog" message="tns:IReportService_WriteLog_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/WriteLogResponse" message="tns:IReportService_WriteLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportWithDateRange">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/ReportWithDateRange" message="tns:IReportService_ReportWithDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/ReportWithDateRangeResponse" message="tns:IReportService_ReportWithDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportWithIssueIDs">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/ReportWithIssueIDs" message="tns:IReportService_ReportWithIssueIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/ReportWithIssueIDsResponse" message="tns:IReportService_ReportWithIssueIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestResult">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/RequestResult" message="tns:IReportService_RequestResult_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/RequestResultResponse" message="tns:IReportService_RequestResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearXFlag">
      <wsdl:input wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/ClearXFlag" message="tns:IReportService_ClearXFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://www.odinsoftware.co.kr/open/etaxbill/reporter/2016/07/IReportService/ClearXFlagResponse" message="tns:IReportService_ClearXFlag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>